
/*background image*/
body {
	background: url(../images/rough_diagonal.png);
}

/*stylin*/
h1 {
	background-color: #4aaaa5;
	color: white;
	float: left;
	text-align: center;
	font-size: 30px;
	width: 250px;
	padding: 28px;
	position: absolute;
	margin-top: 10px;
	top: 0;
	left: 50px;
	font-family: 'Georgia', Times, "Times New Roman", serif;
}

h2 {
	font-family: 'Georgia', Times, "Times New Roman", serif;
	color: #4aaaa5;
	font-size: 25px;
	font-weight: bold;
}

h3 {
	font-family: 'Georgia', Times, "Times New Roman", serif;
	color: #4aaaa5;
	font-size: 20px;
	font-weight: bold;
}

li {
	list-style-type: none;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: grey;
	display: inline;
	text-align: center;
	position: relative;
	margin: 10;
	padding: 10px;
	top:45px;
	left: 750px;
}

section {
	width: 100%;
	border-top: 2px solid #dddddd;

}

p {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	padding: 10px;
	margin-left: 10px;
	color: #777777;
	line-height: 25px;
}

form {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	padding: 10px;
	margin-left: 10px;
	color: #777777;
	line-height: 25px;
}

footer
{
    font-size: 16px;
    color: violet;
    text-align:center;
    padding: 25px;
    height:60px;
    background-color:#666666;
    clear: both;
    border-top: 7px solid #4aaaa5;
    margin-top: 10px;


}


/*header*/
#header {
	width:100%;
	height: 95px;
	background-color: #ffffff;
	margin: 0;
	
}

/*dunno why i put this*/
#content {
	margin: 0;
}

/*about me box and contact box*/
#main {
	width: 600px;
	margin-top: 50px;
	margin-left: 50px;
	margin-bottom: 210px;
	padding: 30px;
	border: 2px solid #dddddd;
	float:left;
	background-color: #ffffff;
}

/*contact box*/
#contact {
	width: 600px;
	margin-top: 50px;
	margin-left: 50px;
	margin-bottom: 100px;
	padding: 30px;
	border: 2px solid #dddddd;
	float:left;
	background-color: #ffffff;
}

/*sidebar*/
#sidebar {
	width: 205px;
	margin-left: 50px;
	margin-top: 50px;
	padding: 30px;
	border: 2px solid #dddddd;
	float: left;
	background-color: #ffffff;
}

/*my picture*/
#profile-pic{
	float: left;
	margin: 10px;
}

/*footer font*/
#footfont {
	color:white;
}

/*message box size*/
.messageBox {
	text-align: left;
    padding: 0.4em 0.4em 0.4em 0;
    padding-top: 0;
    padding-left: 0;
    width: 100%;
    height: 200px;
}


/*setting the image captions*/
.portfolioImages {
	float: left;
	position: relative;
	padding: 20px;
}

span {
	position: absolute;
	padding: 15px;
	width: 220px;
	background-color: #4aaaa5;
	color: white;
	text-align: center;
	font-size: 20px;
	bottom: 20px;
}


/*keeping all the links a proper grey font*/
a:link {
    text-decoration: none;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: grey;
}

a:visited {
    text-decoration: none;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: grey;
}

a:hover {
    text-decoration: none;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: grey;
	font-weight: bold;
}

a:active {
    text-decoration: none;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: grey;
}
